/repetitivas/nbproject/private/
/repetitivas/build/
/Vectores/nbproject/private/
/Vectores/build/
/Matrices/nbproject/private/
/Matrices/build/
/vector/nbproject/private/
/vector/build/
/pruebacapas/nbproject/private/
/pruebacapas/build/
/POO/nbproject/private/